* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1280px;
  margin: auto;
}

h1 {
  font-family: New York Extra Large;
  font-style: normal;
  font-weight: 800;
  font-size: 42px;
  line-height: 54px;
}

h2 {
  font-family: New York Extra Large;
  font-style: normal;
  font-weight: 800;
  font-size: 26px;
  line-height: 35px;
}

h3 {
  font-family: New York Extra Large;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 23px;
}

p {
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
}

.btn {
  padding: 11px 34px;
  background: #1C8575;
  border-radius: 8px;
  color: #ffffff;
  outline: none;
  border: none;
  cursor: pointer;
}

.grn {
  color: #1C8575;
}

li {
  list-style: none;
}

.header_container {
  padding-top: 35px;
  padding-bottom: 95px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header_navbar {
  width: 680px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__mobile-button {
  display: none;
}

.nav_link {
  color: black;
  text-decoration: none;
}

.intro {
  padding-bottom: 240px;
}

.intro_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.intro_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 20px;
}

.intro_button_block {
  max-width: 480px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.intro_slogan_mini {
  margin-bottom: 10px;
}

.intro_slogan_main {
  margin-bottom: 15px;
}

.intro_text {
  margin-bottom: 30px;
}

.why-us {
  padding-top: 100px;
  padding-bottom: 140px;
}

.why-us_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.why-us_title {
  margin-bottom: 20px;
}

.why-us_text {
  margin-bottom: 30px;
}

.why-us_blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}

.why-us_block {
  height: 250px;
  background-color: #fff;
}

.why-us_block:not(:last-child) {
  margin-right: 30px;
}

.why-us_block_in {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px;
  background: #FAFAFA;
  -webkit-box-shadow: 0px 4px 19px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 4px 19px rgba(0, 0, 0, 0.08);
}

.why-us_block__img {
  width: 75px;
  height: 75px;
  margin-bottom: 15px;
}

.why-us_block__title {
  font-family: New York Extra Large;
  font-style: normal;
  font-weight: 800;
  font-size: 22px;
  line-height: 35px;
  margin-bottom: 15px;
}

.videocourses_container {
  color: #fff;
  height: 800px;
  width: 100%;
  background-image: url(.././img/videocourses/bcgp.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.videocourse {
  padding-top: 200px;
  padding-left: 140px;
  width: 420px;
}

.videocourse_btn {
  background-color: #fff;
  color: black;
}

.videocourse_name {
  width: 420px;
  margin-bottom: 20px;
}

.tutor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.tutor_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.tutor_avatar {
  margin-right: 15px;
}

.tutor_name {
  font-family: New York Extra Large;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 23px;
}

.tutor_prof {
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 17px;
}

.news {
  padding-top: 100px;
  padding-bottom: 85px;
  background: -webkit-gradient(linear, left bottom, left top, from(#FAFAFA), to(#FAFAFA)), #FAFAFA;
  background: linear-gradient(0deg, #FAFAFA, #FAFAFA), #FAFAFA;
  -webkit-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.05);
          box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.05);
}

.news_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.news_title {
  margin-bottom: 40px;
}

.news_blocks {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (auto)[2];
  -ms-grid-columns: 33% 33% 33%;
      grid-template: repeat(2, auto)/33% 33% 33%;
  grid-gap: 30px;
  margin-bottom: 30px;
}

.news_block {
  padding: 15px;
  background: #FFFFFF;
  -webkit-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.05);
          box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
}

.news_block__img {
  width: 100%;
  height: 200px;
  margin-bottom: 15px;
  border-radius: 5px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 10px;
}

.news_block__date {
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 17px;
  margin-bottom: 10px;
}

.news_block__title {
  font-family: New York Extra Large;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 23px;
  margin-bottom: 10px;
}

.mentor-tutor {
  padding: 70px 0;
}

.mentor-tutor_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mentor-tutor_texts {
  max-width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 70px;
}

.mentor-tutor__title {
  margin-bottom: 25px;
}

.mentor-tutor__text {
  margin-bottom: 25px;
}

.mentor-tutor__btns {
  margin-bottom: 25px;
}

.mentor-search_btn {
  margin-right: 25px;
}

.be-mentor-tutor {
  padding: 150px 0;
}

.be-mentor-tutor_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.be-mentor-tutor_img {
  margin-right: 70px;
}

.be-mentor-tutor_title {
  margin-bottom: 25px;
}

.be-mentor-tutor_text {
  margin-bottom: 25px;
}

.be-mentor_btn {
  margin-right: 25px;
}

@media (max-width: 1400px) {
  .container {
    max-width: 1192px;
    margin: auto;
  }
  .header_container {
    padding-bottom: 80px;
  }
}

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
  h1 {
    font-size: 38px;
    line-height: 48px;
  }
  .header_container {
    padding-bottom: 60px;
  }
  .btn {
    padding: 10px 30px;
  }
  .intro {
    padding-bottom: 200px;
  }
  .why-us_block:not(:last-child) {
    margin-right: 20px;
  }
  .why-us_block__text {
    font-size: 16px;
  }
  .videocourse_btn {
    padding: 10px 16px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 728px;
  }
  h1 {
    font-size: 36px;
    line-height: 44px;
  }
  p {
    font-size: 16px;
    line-height: 22px;
  }
  .header_logo {
    display: none;
  }
  .header_container {
    padding-bottom: 50px;
  }
  .intro {
    padding-bottom: 160px;
  }
  .intro_container {
    overflow: hidden;
  }
  .intro_button:not(:last-child) {
    margin-right: 20px;
  }
  .why-us_block {
    height: 220px;
  }
  .why-us_block:not(:last-child) {
    margin-right: 10px;
  }
  .why-us_block_in {
    padding: 20px;
  }
  .why-us_block__img {
    width: 50px;
    height: 50px;
  }
  .why-us_block__title {
    font-size: 16px;
    line-height: 23px;
  }
  .videocourse_btn {
    padding: 8px 14px;
  }
  .news {
    padding-top: 80px;
    padding-bottom: 60px;
  }
  .news_blocks {
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    grid-gap: 20px;
  }
  .mentor-tutor_texts, .be-mentor-tutor_img {
    margin-right: 50px;
  }
  .mentor-tutor_img {
    width: 350px;
  }
  .be-mentor-tutor_img {
    width: 350px;
  }
  .be-mentor_btn, .be-tutor_btn {
    padding: 10px 25px;
  }
  .be-mentor_btn {
    margin-right: 14px;
  }
  .mentor-search_btn {
    margin-right: 14px;
  }
  .be-mentor-tutor {
    padding: 120px 0;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 528px;
  }
  .btn {
    padding: 9px 20px;
    font-size: 14px;
    line-height: 17px;
  }
  .header_container {
    padding-bottom: 40px;
  }
  .header_logo {
    display: block;
  }
  .header_navbar {
    display: none;
  }
  .header__mobile-button {
    display: block;
  }
  .intro {
    padding-bottom: 100px;
  }
  .intro_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .intro_block {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    margin-right: 0;
  }
  .intro_img {
    margin-bottom: 40px;
  }
  .why-us_slogan {
    font-size: 16px;
    line-height: 23px;
  }
  .why-us_blocks {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    place-content: space-evenly;
  }
  .why-us_block {
    height: 200px;
    width: 150px;
    margin-bottom: 20px;
  }
  .why-us_block:not(:last-child) {
    margin-right: 10px;
  }
  .why-us_block_in {
    padding: 15px;
  }
  .why-us_block__img {
    width: 40px;
    height: 40px;
  }
  .videocourses_container {
    height: 640px;
  }
  .videocourse {
    width: 360px;
    padding-top: 115px;
    padding-left: 50px;
  }
  .videocourse_name {
    font-size: 26px;
    line-height: 35px;
    margin: 0 0 30px 0;
  }
  .tutor {
    margin-bottom: 30px;
  }
  .news {
    padding-top: 60px;
    padding-bottom: 40px;
  }
  .news_blocks {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
  .mentor-tutor {
    padding-top: 90px;
    padding-bottom: 80px;
  }
  .mentor-tutor_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .mentor-tutor_texts {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .be-mentor-tutor {
    padding: 80px 0;
  }
  .be-mentor-tutor_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .be-mentor-tutor_texts {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 500px;
    width: 92%;
  }
  h1 {
    font-size: 26px;
    line-height: 35px;
  }
  p {
    font-size: 15px;
    line-height: 20px;
  }
  .btn {
    padding: 7px 15px;
  }
  .header_container {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .intro {
    padding-bottom: 60px;
  }
  .intro_img {
    width: 328px;
    height: 222px;
    margin-bottom: 30px;
  }
  .intro_button:not(:last-child) {
    margin-right: 10px;
  }
  .intro_text {
    margin-bottom: 15px;
  }
  .why-us_blocks {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .why-us_block {
    width: 100%;
    height: 160px;
  }
  .why-us_block:not(:last-child) {
    margin-right: 0;
  }
  .videocourse {
    padding-left: 17px;
  }
  .videocourse_name {
    width: 330px;
  }
  .news {
    padding-top: 40px;
    padding-bottom: 20px;
  }
  .news_blocks {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
  .mentor-tutor {
    padding-top: 110px;
    padding-bottom: 90px;
  }
  .be-mentor-tutor {
    padding: 50px 0;
  }
  .be-mentor-tutor_btn {
    padding: 6px 10px;
  }
}

@media (max-width: 370px) {
  .container {
    max-width: 350px;
  }
  .intro_button {
    padding: 8px 22px;
  }
  .videocourse {
    width: 300px;
  }
  .videocourse_name {
    width: 280px;
  }
  .mentor-tutor_img {
    width: 300px;
    height: 214px;
  }
}

@media (max-width: 330px) {
  .container {
    max-width: 300px;
  }
  .intro_img {
    width: 300px;
    height: 200px;
    overflow: hidden;
  }
  .intro_button {
    padding: 7px 15px;
  }
  .news {
    padding-top: 20px;
  }
}
/*# sourceMappingURL=style.css.map */