@media (max-width: 1400px)
  .container
    max-width: 1192px
    margin: auto
  .header
    &_container
      padding-bottom: 80px

@media (max-width: 1200px)
  .container
    max-width: 960px
  h1
    font-size: 38px
    line-height: 48px
  .header
    &_container
      padding-bottom: 60px
  .btn
    padding: 10px 30px
  .intro
    padding-bottom: 200px
  .why-us
    &_block
      &:not(:last-child)
        margin-right: 20px
      &__text
        font-size: 16px
  .videocourse
    &_btn
      padding: 10px 16px

@media ( max-width: 992px )
  .container
    max-width: 728px
  h1
    font-size: 36px
    line-height: 44px
  p
    font-size: 16px
    line-height: 22px
  .header
    &_logo
      display: none
    &_container
      padding-bottom: 50px
  .intro
    padding-bottom: 160px
    &_container
      overflow: hidden
    &_button
      &:not(:last-child)
        margin-right: 20px
  .why-us
    &_block
      height: 220px
      &:not(:last-child)
        margin-right: 10px
      &_in
        padding: 20px
      &__img
        width: 50px
        height: 50px
      &__title
        font-size: 16px
        line-height: 23px

  .videocourse
    &_btn
      padding: 8px 14px

  .news
    padding-top: 80px
    padding-bottom: 60px
    &_blocks
      grid-template-columns: 50% 50%
      grid-gap: 20px

@media ( max-width: 768px )
  .container
    max-width: 528px
  .btn
    padding: 9px 20px
    font-size: 14px
    line-height: 17px

  .header
    &_container
      padding-bottom: 40px
    &_logo
      display: block
    &_navbar
      display: none
    &__mobile-button
      display: block
  .intro
    padding-bottom: 100px
    &_container
      flex-direction: column-reverse
    &_block
      align-items: center
      justify-content: center
      text-align: center
      margin-right: 0
    &_img
      margin-bottom: 40px
  .why-us
    &_slogan
      font-size: 16px
      line-height: 23px
    &_blocks
      flex-wrap: wrap
      place-content: space-evenly
    &_block
      height: 200px
      width: 150px
      margin-bottom: 20px
      &:not(:last-child)
        margin-right: 10px
      &_in
        padding: 15px
      &__img
        width: 40px
        height: 40px

  .videocourses
    &_container
      height: 640px
  .videocourse
    width: 360px
    padding-top: 115px
    padding-left: 50px
    &_name
      font-size: 26px
      line-height: 35px
      margin: 0 0 30px 0

  .tutor
    margin-bottom: 30px

  .news
    padding-top: 60px
    padding-bottom: 40px
    &_blocks
      grid-template-columns: 100%

  .mentor-tutor
    padding-top: 90px
    padding-bottom: 80px
    &_img
      width: 328px
      height: 224px
      overflow: hidden

@media ( max-width: 576px )
  .container
    max-width: 500px
    width: 92%
  h1
    font-size: 26px
    line-height: 35px
  p
    font-size: 15px
    line-height: 20px
  .btn
    padding: 7px 15px

  .header
    &_container
      padding-top: 30px
      padding-bottom: 30px
  .intro
    padding-bottom: 60px
    &_img
      width: 328px
      height: 222px
      margin-bottom: 30px
    &_button
      &:not(:last-child)
        margin-right: 10px
    &_text
      margin-bottom: 15px
  .why-us
    &_blocks
      width: 100%
      flex-direction: column
    &_block
      width: 100%
      height: 160px
      &:not(:last-child)
        margin-right: 0

  .videocourse
    padding-left: 17px
    &_name
      width: 330px

  .news
    padding-top: 40px
    padding-bottom: 20px
    &_blocks
      grid-template-columns: 100%

  .mentor-tutor
    padding-top: 110px
    padding-bottom: 90px

@media ( max-width: 370px )
  .container
    max-width: 350px

  .intro
    &_button
      padding: 8px 22px

  .videocourse
    width: 300px
    &_name
      width: 280px

  .mentor-tutor
    &_img
      width: 300px
      height: 214px

@media ( max-width: 330px )
  .container
    max-width: 300px

  .intro
    &_img
      width: 300px
      height: 200px
      overflow: hidden
    &_button
      padding: 7px 15px

  .news
    padding-top: 20px
