.intro
  padding-bottom: 240px
  &_container
    display: flex
    align-items: center
    justify-content: space-between
  &_block
    display: flex
    flex-direction: column
    justify-content: space-between
    margin-right: 20px
  &_button
    padding: 11px 34px
    background: $green
    border-radius: 8px
    color: #ffffff
    outline: none
    border: none
    cursor: pointer
    &_block
      max-width: 480px
      display: flex
      align-items: center
      justify-content: space-between
  &_slogan
    &_green
      color: $green
    &_mini
      margin-bottom: 10px
    &_main
      margin-bottom: 15px
  &_text
    margin-bottom: 30px
